extends layout

block content
  div(id='main')
    div(class='inner')

      header(id='header')
        h1= title

      section(id='banner')
        div(class='content')
          header
            h2= 'Page d\'accueil'
