extends layout

block content
  div(id='main')
    div(class='inner')

      header(id='header')
        h1= title       

      section(id='banner')
        div(class='content')
          header
            h2= 'Formulaire'
          form#formAddUser(name="adduser",method="post",action="/insert/adduser")
            input#inputUserName(type="text", placeholder="Nom", name="name")
            input#inputUserPassword(type="text", placeholder="Prénom", name="firstname")
            input#inputUserMail(type="text", placeholder="Email", name="mail")
            br
            button#btnSubmit(type="submit") Valider
